@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --canvas: 300 8% 95%;
    --background: 0 0% 100%;
    --foreground: 261, 25%, 11%;
    --muted: 270 6% 93%;
    --muted-foreground: 247 4% 45%;
    --primary: 336 80% 58%;
    --primary-foreground: 340 65% 15%;
    /*--accent: ;*/
    /*--accent-foreground: ;*/
  }
}

@layer base {
  @media (prefers-color-scheme: dark) {
    :root {
    --canvas: 300 8% 95%;
    --background: 0 0% 100%;
    --foreground: 261, 25%, 11%;
    --muted: 270 6% 93%;
    --muted-foreground: 247 4% 45%;
    --primary: 336 80% 58%;
    --primary-foreground: 340 65% 15%;
    /*--accent: ;*/
    /*--accent-foreground: ;*/
  }
  }
}
